/*Variables*/



/* RESET DE CSS */
*{
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

/*  Configuracion CSS del BODY */
body{
    font-family: "Poppins", sans-serif;
}

/* CSS de todos los H1*/
h1{
    color: #4D5157;
    font-size: 37px;
    text-align: center;
}

/* Estilo para las flechas del carrousel*/
.carousel-control-prev, .carousel-control-next{
    background-color: #4D5157;
    opacity: 1;
    border-radius: 50%;

}

.carousel-control-prev-icon, .carousel-control-next-icon{
    filter: invert(1);

}

/* css para container de texto e imagen*/
.container_1_texto_imagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 5px;
    flex-grow: 1;
    background-color:  white ;
    /*border: 12px solid #ddd;*/
}

@media (min-width : 768px){
    .container_1_texto_imagen{
        flex-direction: row;
    }
}

.caja_1{
    flex: 1;
    align-content: center;
    text-align: center;
    
    margin: 5px;
    background-color: white;
}

.caja_1 h1{
    font-size: 28px;
    font-weight: 400;
}

.caja_1 h2{
    font-size: 19px;
    font-weight: 300;
}
.texto_1 {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}


.imagen_1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce4ec;
}
.imagen_1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}